    .attribution { 
        font-size: 11px; text-align: center; 
    }

    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

    html {
        background-color: hsl(216, 12%, 8%);
        font-size: 15px
    }

    body {
        font-family: 'Overpass', sans-serif;
        color: hsl(217, 12%, 63%);
        
    }

    h1 {
        color: hsl(0, 0%, 100%);
        text-align: left;
    }

    p {
        text-align: left;
    }

    .start-state {
        
        margin: auto;
        padding: 1.5em;
        width: 350px;
        height: auto;
        border: none;
        background-color: hsl(213, 19%, 18%);
        border-radius: 16px;
    }

    

    .ratebutton {
        display: flex;
        justify-content: center;
        
    }

    .star {
        background-color: hsl(216, 12%, 54%, 15%);
        border: none;
        border-radius: 50%;
        color:hsl(217, 12%, 63%);
        padding: 1rem;

    }

    .numberbutton {
        background-color: hsl(216, 12%, 54%, 15%);
        border: none;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        color:hsl(217, 12%, 63%);
        margin: 8px;
        cursor: pointer;
    }

    .numberbutton:hover {
        background-color: hsl(0, 0%, 100%);
        transition-delay: 25ms;
        transition-duration: 125ms;
        transition-property: background-color;
    }

    
    

    input[type=submit] {
        background-color: hsl(25, 97%, 53%) ;
    }

    .submitorange {
        justify-content: center;
        border: none;
        width: 325px;
        height: 3rem;
        border-radius: 25px;
        color:hsl(0, 0%, 100%);
        letter-spacing: 2px;
        margin-left: 15px;
    }

    .submitorange:hover {
        background-color: hsl(0, 0%, 100%);
        color:hsl(25, 97%, 53%);
        transition-delay: 25ms;
        transition-duration: 125ms;
        transition-property: background-color;
    }